.education-content {
    position: relative;
    color: white;
    height: 150vh;
    padding: 5%;
    background: radial-gradient(
        125% 125% at 50% 10%,
        #000 40%,
        #63e 100%
    );
}

.education-row {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
}

@media (min-width: 768px) {
    .education-row {
        grid-template-columns: 1fr 2fr; 
    }
}


.education-list {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50vh;
}

.education-item {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 2vw;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.education-item h2 {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.education-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem; 
}

.education-title {
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 1.875rem;
}

@media (max-width: 767px) {
    .education-left {
    display: none;
    }
}

@media (min-width: 768px) {
    .education-title {
        font-size: 3rem;
    }
}
@media (min-width: 1024px) {
    .education-title {
        font-size: 3.75rem;
    }
}

.gradient-text {
    background: linear-gradient(to right, #4338ca, #8b5cf6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.gradient-bar {
    width: 70%;
    height: 0.5rem; 
    background: linear-gradient(
        to right,
        #4338ca,      
        #a855f7,      
        #8b5cf6      
    );
    background-size: 200% 100%;
    animation: gradient-slide 3s linear infinite alternate;
    flex-shrink: 0;
}

@keyframes gradient-slide {
    from {
        background-position: 0% 0;
    }
    to {
        background-position: 100% 0;
    }
}
