@import "tailwindcss";

html, body {
    
}


body {
    margin: 0px;
    background-color: black;
    }

@keyframes breath {
    0%, 100%   { transform: scale(1); }
    50%        { transform: scale(1.1); }
    }

.breath:hover {
    animation: breath 1.5s ease-in-out infinite;
    }

@keyframes gradient-slide {
    0%   { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
    }

@keyframes spin-slow {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
    }
    
@utility animate-spin-slow {
    animation: spin-slow 3s linear infinite;
    }

